$font-family: 'League Spartan', sans-serif;
$font-size-numbers: 32px;

$toogle-and-key-bg-1:   hsl(223, 31%, 20%); /*Very dark desaturated blue (toggle background, keypad background)*/
$main-bg-1:  hsl(222, 26%, 31%); /*Very dark desaturated blue (main background):*/
$scren-bg-1: hsl(224, 36%, 15%); /*Very dark desaturated blue (screen background)*/

$toogle-and-key-bg-2:   hsl(0, 5%, 81%); /*Grayish red (toggle background, keypad background)*/
$main-bg-2:  hsl(0, 0%, 90%); /*Light gray (main background):*/
$scren-bg-2: hsl(0, 0%, 93%); /*Very light gray (screen background)*/

$toogle-and-key-bg-3:   hsl(268, 71%, 12%); /*Very dark violet (toggle background, keypad background)*/
$main-bg-3:  hsl(268, 75%, 9%); /*Very dark violet (main background):*/
$scren-bg-3: hsl(268, 71%, 12%); /*Very light gray (screen background)*/

$key-1: hsl(225, 21%, 49%); /*Desaturated dark blue (key background)*/
$key-shadow-1: hsl(224, 28%, 35%); /*Desaturated dark blue (key shadow):*/

$key-equals-1: hsl(6, 63%, 50%); /*Red (key background, toggle):*/
$key-equals-shadow-1: hsl(6, 70%, 34%); /*Dark red (key shadow):*/

$key-dark-1:hsl(30, 25%, 89%); /*Light grayish orange (key background)*/
$key-very-dark-1: hsl(28, 16%, 65%); /*Grayish orange (key shadow)*/

$key-2: hsl(185, 42%, 37%); /*Dark moderate cyan (key background)*/
$key-shadow-2: hsl(185, 58%, 25%); /*Very dark cyan (key shadow):*/

$key-equals-2: hsl(25, 98%, 40%); /*Orange (key background, toggle):*/
$key-equals-shadow-2: hsl(25, 99%, 27%); /*Dark orange (key shadow):*/

$key-dark-2:hsl(45, 7%, 89%); /*Light grayish yellow (key background)*/
$key-very-dark-2: hsl(35, 11%, 61%); /*Dark grayish orange (key shadow)*/

$key-3: hsl(281, 89%, 26%); /*Dark violet (key background)*/
$key-shadow-3: hsl(285, 91%, 52%); /*Vivid magenta (key shadow):*/

$key-equals-3: hsl(176, 100%, 44%); /*Pure cyan(key background, toggle):*/
$key-equals-shadow-3: hsl(177, 92%, 70%); /*Soft cyan (key shadow):*/

$key-dark-3:hsl(268, 47%, 21%); /*Very dark violet (key background)*/
$key-very-dark-3: hsl(290, 70%, 36%); /*Dark magenta (key shadow)*/

$text-1: hsl(221, 14%, 31%); /*Very dark grayish blue:*/
$text-light-1: hsl(0, 0, 100%); /*White*/

$text-2: hsl(60, 10%, 19%); /*Very dark grayish yellow*/
$text-light-2: hsl(0, 0, 100%); /*White*/

$text-3: hsl(52, 100%, 62%); /*Light yellow*/
$text-light-3: hsl(0, 0, 100%); /*White*/
$text-dark-3: hsl(198, 20%, 13%); /*Very dark blue*/


